.rightSideBar {
    background-color: stencilColor("card--commingSoon-backgroundColor");
    border-radius: 3em;
    padding-top: 1em;
}

.commingSoon {
    .productCarousel {
        @include grid-row(
            $behavior: nest
        ); // 1
        min-width: 100%;
        position: relative;
        width: 1px;
        margin-bottom: 1em;
    }

    .productCarousel-slide { // 1
        @include grid-column(6);

        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }

        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }

        @include breakpoint("large") {
            width: grid-calc(2, $total-columns);
        }

        .card {
            margin-bottom: 0;
            border: 1px solid stencilColor("card--commingSoon-borderColor");
            background-color: stencilColor("card--commingSoon-backgroundColor");

            .card-title {
                overflow-wrap: break-word;
            }
        }
    }
}