<article
    class="card
    {{#if alternate}} card--alternate{{/if}}"
    data-test="card-{{node.id}}"
    data-event-type="{{event}}"
    data-entity-id="{{node.id}}"
    data-position="{{position}}"
    data-name="{{name.name}}"
    data-product-category="
    {{#each category}}
        {{#if @last}}
            {{this}}
        {{else}}
            {{this}},
        {{/if}}
    {{/each}}"
    data-product-brand="{{brand.name}}"
>
    <figure class="card-figure">

        <a href="{{node.path}}"
           class="card-figure__link"
           aria-label="{{> components/products/product-info}}"
           data-event-type="product-click"
        >
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=node.defaultImage.urlOriginal
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>
    </figure>
</article>
